ion-content{
    ion-card{
        height: 100%;
        .div-avatar{
            background-color: transparent;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            ion-avatar{
                width: 100px;
                height: 100px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            
            
        }
        ion-icon{
            size: 300px;
        }
        ion-label{
            font-weight: bold;
            font-size: larger;
        }
    }

}