<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button title="">
      </ion-back-button>
      <ion-title>Création d'une Association</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Création d'une Association</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      
      <form [formGroup]="assocForm" >

        <ion-item class="ion-margin-vertical">
          <ion-input formControlName="name" label="Nom de l'associations" labelPlacement="floating" type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input formControlName="headquater" label="Siège" labelPlacement="floating" type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input formControlName="president" label="President" labelPlacement="floating" type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input formControlName="tel" label="TEL" labelPlacement="floating" type="number" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input formControlName="email" label="Email" labelPlacement="floating" type="email" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input formControlName="description" label="Description" labelPlacement="floating" type="textarea" color="dark"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" (click)="creatAssoc()" >VALIDER</ion-button>
  <!-- <ion-button size="full" (click)="addMember()" >add member</ion-button>
  <ion-button size="full" (click)="updateMember()" >update</ion-button> -->

</ion-content>