<p>
  
</p>

<ion-col size="6">
  <div class="col_div">
    <ion-card  >
      <ion-icon color="tertiary"  name="calendar"></ion-icon>
    </ion-card>
    <ion-label>
      Evènement
      <p>date</p>
    </ion-label>
  </div>
</ion-col>
<ion-content></ion-content>