<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button title="">
      </ion-back-button>
    <ion-title>INSCRIPTION</ion-title>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <form action="" [formGroup]="monFormulaire">
      <ion-card-content>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Nom" formControlName="nom" labelPlacement="floating"  type="email" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Email" formControlName="email" labelPlacement="floating"  type="email" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="mot de passe" formControlName="mDP" labelPlacement="floating"  type="password" color="dark"></ion-input>
        </ion-item>
        <ion-item >
          <ion-input label="Confirmer le mot de passe" formControlName="mDPC" labelPlacement="floating"  type="password" color="dark"></ion-input>
        </ion-item>
        <div style="color: red;margin-left: 20px;font-style: italic; font-size: 10px;" *ngIf="monFormulaire.hasError('misMatch')&&monFormulaire.touched">Les mot de passe ne correspondent pas</div>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-button size="full" [disabled]="!monFormulaire.valid" (click)="submit()">VALIDER</ion-button>
  <div align="right" style=" justify-items: center;">
    <ion-button fill="clear">
      <ion-text color="primary" (click)="goBack()">J'ai un compt</ion-text>
    </ion-button>
  </div>
</ion-content>
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button title="">
      </ion-back-button>
    <ion-title>INSCRIPTION</ion-title>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <form action="" [formGroup]="monFormulaire" (ngSubmit)="submitForm()">
      <ion-card-content>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Nom" formControlName="rNom" labelPlacement="floating"  type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Prenom" formControlName="rPrenom" labelPlacement="floating"  type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Date de naissance" formControlName="rDate" labelPlacement="floating"  type="Date" color="dark"></ion-input>
        </ion-item>
        <ion-radio-group value="start" formControlName="rSexe">
          <ion-list-header>
            <ion-label>
              Sex
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-item lines="none">
              <ion-radio value="0" slot="start" >Masculin</ion-radio>
              <ion-radio value="1"  slot="start" >Feminin</ion-radio>
            </ion-item>
  
          </ion-item>
        </ion-radio-group> 
        <ion-item class="ion-margin-vertical">
          <ion-input label="Adresse" formControlName="rAdresse" labelPlacement="floating"  type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="TEL" formControlName="rTEL" labelPlacement="floating"  type="number" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Email" formControlName="rEmail" labelPlacement="floating"  type="email" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="mot de passe" formControlName="rMDP" labelPlacement="floating"  type="password" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Confirmer le mot de passe" formControlName="rMDPC" labelPlacement="floating"  type="password" color="dark"></ion-input>
        </ion-item>
        <ion-radio-group value="start" formControlName="rStatut">
          <ion-list-header>
            <ion-label style="font-size: medium;" >
              Statu
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-item lines="none">
              <ion-radio value="0" slot="start" >Celibataire</ion-radio>
              <ion-radio value="1"  slot="start" >Marié</ion-radio>
            </ion-item>
          </ion-item>
        </ion-radio-group> 
        
      </ion-card-content>
    </form>
  </ion-card>
  <ion-button size="full" (click)="submitForm()">VALIDER</ion-button>
  
</ion-content> -->
