<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Associations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Associations</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar id="searchBar" placeholder="Entrez le nom de l'associations"> </ion-searchbar>
  
  <div class="creatButton">
    <ion-button (click)="focusSearch()">Rejouindre  
    <ion-icon name="link"></ion-icon></ion-button>  
  </div>

  <div class="addButton">
    <ion-button  (click)="goTo()" >Creer   
    <ion-icon name="add"></ion-icon></ion-button>
  </div>
<ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
</ion-content>
///////////////////////////////////////// -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="row" *ngIf="user$ | async as user;">
      <img [src]="user.photoURL??  'assets/icon/avatar.png'"
        style="margin-right: 15px; border-radius: 100%;width: 50px;height: 50px;">
      <ion-text>{{user.displayName}}</ion-text>
    </div>

    <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(1)">
      <ion-icon color="dark" aria-hidden="true" name="person" slot="start"></ion-icon>
      <ion-label>Editer profile</ion-label>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(2)">
      <ion-icon color="dark" aria-hidden="true" name="cash" slot="start"></ion-icon>
      <ion-label>Porte monnaie</ion-label>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(3)">
      <ion-icon color="dark" name="list-circle" slot="start"></ion-icon>
      <ion-label>Mes Associations</ion-label>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(4)">
      <ion-icon color="dark" aria-hidden="true" name="notifications-circle-outline" slot="start"></ion-icon>
      <ion-label>Mes Notifications</ion-label>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(5)">
      <ion-icon color="dark" aria-hidden="true" name="information-circle" slot="start"></ion-icon>
      <ion-label>Condition d'utilisation</ion-label>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" (click)="goTo(6)">
      <ion-icon color="dark" aria-hidden="true" name="help-circle" slot="start"></ion-icon>
      <ion-label>A propos</ion-label>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" id="present-alert">
      <ion-icon color="dark" name="flag" aria-hidden="true" slot="start"></ion-icon>
      <ion-label>Signaler un problem</ion-label>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" id="present-alert" (click)="logOut()">
      <ion-icon color="dark" name="log-out" aria-hidden="true" slot="start"></ion-icon>
      <ion-label>Se deconnecter</ion-label>
    </ion-item>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Associations</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Associations</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-searchbar id="searchBar" [formControl]="searchControl" placeholder="Entrez le nom de l'associations">
    </ion-searchbar>

    <ion-list    style="z-index:5;width:100%;">
      <ion-item  *ngFor=" let item of assocs$| async" color="silver" (click)="demadeAlert(item)">
        <img [src]="'assets/icon/logo-association.jpg'" style="margin-right: 15px; border-radius: 100%;width: 50px;height: 50px;">
        {{item?.name}}
      </ion-item>
    </ion-list>

    <div class="creatButton">
      <ion-button (click)="focusSearch()">Rejouindre
        <ion-icon name="link"></ion-icon></ion-button>
    </div>
    <ion-card *ngFor="let item of listesT  " (click)="reciveAssoc(item)">
      <img alt="Silhouette of mountains" src="assets/icon/logo-association.jpg"  style="object-fit: cover;width: 100%;"/>
      <ion-card-header>
        <ion-card-title style="font-size: large;">{{(item|async)?.name}}</ion-card-title>
        <ion-card-subtitle> {{(item| async)?.president}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{(item| async)?.description}}
      </ion-card-content>
    </ion-card>
    <ion-list>
      
      <p></p>
      <p></p>

    </ion-list>

    <div class="addButton">
      <ion-button (click)="goToCreate()">Creer
        <ion-icon name="add"></ion-icon></ion-button>
    </div>
  </ion-content>
</div>