
.creatButton {
    position: absolute;
    ion-button {
        font-weight: auto;

        position: fixed;
        width: 30%; 
      height: 5em;
        bottom: 10em;
        left: 0;
        --border-radius: 0px 40px 40px 0px ; 
        // --border-top-right-radius: 30px;
        // --border-bottom-right-radius: 20px;
        margin-left:0px;
      }
  }
.addButton{
    ion-button {

        --border-radius: 40px 0px 0px 40px ; 
        font-weight: auto;

      width: 30%;  
      height: 5em;
      position: fixed;
      bottom: 20em;
      right: 0;
      margin-right:0px;
    }
    
}