<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tabComm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- your-component.page.html -->

  <ion-content>
    <ion-progress-bar *ngIf="!(user$|async) " type="indeterminate"></ion-progress-bar>
    <div *ngIf="user$|async as userI ">
      <ion-list style="margin-left:10px;margin-right: 10; background-color: burlywood;" >
        <div *ngFor="let message of messages$ | async" class="chat-bubble-container"
          [ngClass]="{'chat-bubble-containersender':message.senderId===userI.uid}">

          <div class="chat-bubble">
            {{ message.message }}
            <span class="chat-date">
              {{ formatTimestamp(message.timestamp) }}:
            </span>
          </div>

        </div>
      </ion-list>
    </div>

    

  </ion-content>
  <ion-footer><div class="roz" style="bottom: 0px;position: fixed; width: 100%;display: block;">
      <ion-input [(ngModel)]="newMessage" placeholder="Type your message"></ion-input>
      <ion-button expand="full" (click)="sendMessage()">Send</ion-button>
    </div></ion-footer>