.chat-bubble-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    .chat-bubble{
        background: rgb(114, 114, 114);
        padding-top: 8px;
        padding-left: 6px;
        padding-bottom: 18px;
        padding-right: 100px;
        margin-bottom: 20px;
        border-radius: 5px 5px 5px 0px ; 
        width: fit-content;
        position: relative;
    
    }
}
.chat-bubble-containersender{
    
    justify-content: flex-end;
    
    .chat-bubble{
        background: rgb(53, 96, 213);
        padding-top: 8px;
        padding-left: 6px;
        padding-bottom: 18px;
        padding-right: 100px;
        margin-bottom: 20px;
        border-radius: 5px 5px 0px 5px ; 
        width: fit-content;
        position: relative;
    
    }
}
.chat-date{
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: 0.7rem;
    color: rgb(0, 0, 0.6);

}