<!-- <ion-content class="ion-no-padding">
	<div id="sign-in-button"></div>
  
	<div class="main">
	  <ion-card no-margin>
		<ion-card-content>
		  <ion-row class="row">
			<div class="fire-logo">
			  <img src="../../assets/fire.png" class="img-logo">
			  <ion-text class="ion-padding">
				<h2 class="ion-no-margin ion-margin-vertical ion-text-center">Welcome to Ionic 5 Firebase Phone Auth</h2>
			  </ion-text>
			</div>
		  </ion-row>
		  <ion-grid class="phoneAuthGrid">
			<ion-row>
			  <ion-col size="4">
				<ion-select class="phoneCountry" value="brown" okText="Okay" cancelText="Dismiss"
				[value]="CountryCode" (ionChange)="countryCodeChange($event)">
				  <ion-select-option *ngFor="let country of CountryJson" value={{country.dial_code}}>
					{{country.dial_code + ' ' + country.name}}</ion-select-option>
				</ion-select>
			  </ion-col>
			  <ion-col size="8">
				<ion-input clearInput type="test" placeholder="Your Contact Number" [(ngModel)]="PhoneNo"
				  class="input ion-padding-horizontal" clear-input="true"></ion-input>
			  </ion-col>
			</ion-row>
			<ion-row>
			  <ion-col>
				<ion-button expand="block"color="undefined" (click)="signinWithPhoneNumber($event)"
				  class="btn-transition">
				  Sign in with Phone number</ion-button>
			  </ion-col>
			</ion-row>
		  </ion-grid>
  
		</ion-card-content>
	  </ion-card>
	</div>
</ion-content>	 -->
<ion-header [translucent]="true">
	<ion-toolbar>
	  <ion-buttons>
		<ion-back-button title="">
		</ion-back-button>
	  <ion-title>Connection</ion-title>
  
	  </ion-buttons>
	</ion-toolbar>
  </ion-header>
<ion-content [fullscreen]="true">
	<ion-list lines="full" class="ion-margin">
	  <ion-card>
		<ion-card-header>
		  <ion-card-title>Se connecter par numero de téléphone
		  </ion-card-title>
		</ion-card-header>
		
		<ion-card-content>
			<form [formGroup]="formNum">
				<ion-item class="ion-margin-vertical">
					<ion-select class="phoneCountry" value="brown" okText="Okay" cancelText="Dismiss"
					[value]="CountryCode" (ionChange)="countryCodeChange($event)">
					  <ion-select-option *ngFor="let country of CountryJson" value={{country.dial_code}}>
						{{country.dial_code + ' ' + country.name}}</ion-select-option>
					</ion-select>
					<ion-input  labelPlacement="floating" label="numero de téléphone" formControlName="phoneNum"
					  class="input ion-padding-horizontal" type="text"   ></ion-input>
				</ion-item>
				<ion-button class="ion-text-wrap"  (click)="signinWithPhoneNumber()" expand="block" [disabled]="!formNum.valid" size="large">Recevoir le code de confirmetaion  </ion-button>
			</form>

		<div class="Confirmer">
			<ion-text class="confLN">
				Confirmer le numero de téléphone
			</ion-text>
			<form  [formGroup]="formCode" >
				<ion-item class="ion-margin-vertical">
				  <ion-input type="text" formControlName="fCode" labelPlacement="floating" label="Code de confirmetaion"
				  class="input ion-padding-horizontal" clear-input="true"></ion-input>
				</ion-item>

			</form>
			<ion-button color="primary" (click)="codeVerif()" [disabled]="!(formCode.valid && formNum.valid)" expand="block" size="large">Validé</ion-button>
			
		</div>  
		</ion-card-content>
	</ion-card>
	<div id="recaptcha-container"  style="display: none;"></div>
	</ion-list>
  </ion-content>