<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tabP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tabP</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="tab-accueil">
      <ion-icon color="tertiary" size="large" name="home"></ion-icon>
      Accueil
    </ion-tab-button>
    <ion-tab-button tab="tab-activite">
      <ion-icon color="tertiary" size="large" name="file-tray-full"></ion-icon>
      Activité
    </ion-tab-button>
    <ion-tab-button tab="tab-comm">
      <ion-icon color="tertiary" size="large" name="chatbubbles"></ion-icon>
      Message
    </ion-tab-button>
    <ion-tab-button tab="tab-autre">
      <ion-icon color="tertiary" size="large" name="person-circle"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>