ion-searchbar{
    margin-top: 8px;
    // margin-bottom: 8px;
}
ion-list{
    background: transparent;
}
.addButton{
    ion-button {

        --border-radius: 40px 0px 0px 40px ; 
        font-weight: auto;

      width: 30%;  
      height: 5em;
      position: fixed;
      bottom: 20em;
      right: 0;
      margin-right:0px;
    }
    
}