<ion-content [fullscreen]="true">
  <ion-list lines="full" class="ion-margin">
    <ion-card>
      <ion-card-header>
        <ion-card-title>LOGIN</ion-card-title>
      </ion-card-header>
      <form [formGroup]="monFormulaire">
        <ion-card-content>
          <ion-item class="ion-margin-vertical">
            <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
            <ion-input formControlName="email" label="Email" labelPlacement="floating" type="email"
              color="dark"></ion-input>
          </ion-item>
          <ion-item class="ion-margin-vertical">
            <ion-icon name="lock-closed-outline" slot="start" color="medium"></ion-icon>
            <ion-input formControlName="password" label="mot de pass" labelPlacement="floating" type="password"
              color="dark"></ion-input>
          </ion-item>
          <ion-text class="ion-margin-vertical">
            <div align="right" style="margin-bottom: 20px;">
              <ion-button (click)="presentAlert()" fill="clear">
                <ion-note color="primary">mot de passe oublié?</ion-note>
              </ion-button>
            </div>
          </ion-text>
          <ion-button [disabled]="!monFormulaire.valid" color="primary" expand="block" size="large" (click)="login()">Se
            connecter </ion-button>

          <ion-text class="ion-margin-vertical">
            <div align="center" style="margin-top: 35px;margin-bottom: 30px;"><ion-note color="">ou avec</ion-note>
            </div>
          </ion-text>
          <!-- <ion-item >
          <ion-text class="ion-text-center">
            <samp class="text">
              OU AVEC
            </samp>
          </ion-text>
        </ion-item> -->
          <ion-row class="ion-justify-content-center">
            <ion-col width-50 style="text-align: right;">
              <ion-button fill="outline" (click)="logWithGo()">
                <ion-icon name='logo-google'></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col width-50 style="text-align: left;">
              <ion-button fill="outline" (click)="logByPhon()">
                <ion-icon name="call"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-text>
            <div align="right" style=" justify-items: center;">
              <ion-button fill="clear">
                <ion-text color="primary" (click)="goToInscription()"> S'inscrire</ion-text>
              </ion-button>
            </div>
          </ion-text>
        </ion-card-content>
      </form>
    </ion-card>
    <div id="recaptcha-container" style="display: none;"></div>
    <!-- <ion-list-header >
      <ion-label color="fulldark" class="ion-text-center">LOGO</ion-label>
    </ion-list-header>
    <ion-item class="ion-margin-vertical">
      <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
      <ion-input placeholder="Enter Email" type="text"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-vertical">
      <ion-icon name="lock-closed-outline" slot="start" color="medium"></ion-icon>
      <ion-input placeholder="Enter Password" type="password"></ion-input>
    </ion-item>
      <ion-col size="6" class="alignItems">
        <div align="right"><ion-note color="success">Forgot Password?</ion-note></div>
      </ion-col>
    <ion-button color="success" expand="block" size="large">LOGIN</ion-button>
    <ion-text class="ion-text-center" color="primary">
      <div  class="line-texte">
        <span class="line"></span>
        <span class="texte">Ou</span>
        
      </div>
    </ion-text>
    <ion-card-content>
      <div class="logBtn">
        <ion-button>
          <ion-icon  name="call-outline" color="red" ></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon  name="goggle" color="blue" ></ion-icon>
        </ion-button>
      </div>
      <ion-text>
        <div align="right" style="margin-top: 20px;">
          <p>
            <ion-note>vous n'avez pas de compte? </ion-note>
            <ion-text color="success">S'inscrire</ion-text>
          </p>
        </div>
      </ion-text>
    </ion-card-content> -->
  </ion-list>
</ion-content>