ion-content{
//  --background: yellow ;
  ion-list {
    background:transparent; 
    // var(  --ion-color-primary-contrast);
    transform: translateY(10vh);
    ion-list-header {

       margin-bottom: 20vh;
      letter-spacing: 3px;
      ion-label {
        font-weight: bold;
        font-size: 3rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
    }
    p {
      font-size: 0.8rem;
      // padding-top: 1vh;
    }
    ion-card{
      ion-card-header{
       margin-bottom: 10px;
        ion-card-title{
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
          font-weight: bold;
          font-size: 3rem;
        }
      } 
    ion-button{
      border-radius: round($number: 0);
    }

    }
  }
  .alignIs {
    ion-icon, ion-note {
      // display: inline-block;
      vertical-align: middle;
    }
    ion-icon {
      margin-right: 1vw;
      font-size: 1.1rem;
    }
  }
  .otherConnetion{
    height: 60%;
  }
  ion-footer {
    ion-text {
      font-size: 0.8rem;
    }
  }

 .logBtn{
     text-align: center;
    background-color: red;
   }
   .line-texte{
    height: 20px;
    margin-top: 20px;
    .line{
      background: yellowgreen;
      height: 1px;
      display: flex;
    }
    .texte{
      position: absolute;
      background:transparent ;
      font-size: 70;
      font-style: 500px;
      transform: translate(-50%);
    }
   }
   .motdePassOu .alert-wrapper {
    max-width: 400px; /* Ajustez la largeur selon vos besoins */
  }
  
}
  // @media screen and (max-width:1000px ){
  //   ion-list {
  //   --background: var(  --ion-color-primary-contrast);
  //   transform: translateY(10vh);
  //   ion-list-header {
  //     display: none;
  //      margin-bottom: 5vh;
     
  // }}}