<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button title="">
      </ion-back-button>
    <ion-title>liste des projets</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">liste des projets</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar></ion-searchbar>
  <ion-list >
    <ion-item class="ion-margin-vertical" [button]="true" >
      
      <ion-label>
        <strong>Ionitron</strong>
        <ion-text>I have become sentient</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">03:44</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" >
      
      <ion-label>
        <strong>Ionitron</strong>
        <ion-text>I have become sentient</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">03:44</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
    <ion-item class="ion-margin-vertical" [button]="true" >
      <ion-label>
        <strong>Ionitron</strong>
        <ion-text>I have become sentient</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">03:44</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item> 
    <ion-item class="ion-margin-vertical" [button]="true" >
      <ion-label>
        <strong>Ionitron</strong>
        <ion-text>I have become sentient</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">03:44</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item> 
    <ion-item class="ion-margin-vertical" [button]="true" >
      <ion-label>
        <strong>Ionitron</strong>
        <ion-text>I have become sentient</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">That is all.</ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">03:44</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item> 
  </ion-list>
  <div class="addButton">
    <ion-button >Ajouter </ion-button>
  </div>

</ion-content>
