.content_div{display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    .col_div {
            margin: 7px;
            height: 10em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            // background: var(--ion-color-primary-contrast #ffffff);
            // background-color: rgb(255, 255, 255);
            box-shadow: 0 3px 6px rgb(0, 0, 2);
            //  0px 3xp 6px ;
            border-radius: 20px;
    
            ion-card {
                width: 90px;
                height: 90px;
                justify-content: center;
                border-style: none;
                align-items: center;
                display: flex;
                border-radius: 100%;
                padding: 2px;
                // background: rgba(0, 191, 255, 0.1);
                background: tertiary;
                ion-icon{
                    width: 50px;
                    height: 50px;
                    // color: tertiary;
                }
            }
    
            ion-label {
                font-size: large;
                font-weight: bold;
            }
        }
}
.col_div:hover {
    cursor: pointer;
  }
