<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-progress-bar *ngIf="!(user$|async) " type="indeterminate"></ion-progress-bar>

    <div *ngIf="user$ | async as user;" style="padding-top: 25px;">
      <div class="profile-image" >
   
        <img     [src]="user.photoURL??  'assets/icon/avatar.png'" >
        <ion-icon size="large" color="primary" (click)="inputField.click()"  name="camera"></ion-icon>
      <!-- <ion-button size="small" fill="clear" (click)="inputField.click()">
      </ion-button> -->
    </div>
    
    <input #inputField hidden type="file" (change)="uploadFile($event,user)" />
    </div>


    <form  [formGroup]="profileForm">
      <ion-card-content>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Nom" formControlName="displayName" labelPlacement="floating"  type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Nom" formControlName="firstName" labelPlacement="floating"  type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Prenom" formControlName="lastName" labelPlacement="floating"  type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="Date de naissance" formControlName="dateOB" labelPlacement="floating"  type="Date" color="dark"></ion-input>
        </ion-item>
        <ion-radio-group value="start" formControlName="gender">
          <ion-list-header>
            <ion-label>
              Sex
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-item lines="none">
              <ion-radio value="0" slot="start" >Masculin</ion-radio>
              <ion-radio value="1"  slot="start" >Feminin</ion-radio>
            </ion-item>
  
          </ion-item>
        </ion-radio-group> 
        <ion-item class="ion-margin-vertical">
          <ion-input label="Adresse" formControlName="address" labelPlacement="floating"  type="text" color="dark"></ion-input>
        </ion-item>
        <ion-item class="ion-margin-vertical">
          <ion-input label="TEL" formControlName="phone" labelPlacement="floating"  color="dark"></ion-input>
        </ion-item>
        
        <ion-radio-group value="start" formControlName="status">
          <ion-list-header>
            <ion-label style="font-size: medium;" >
              Statu
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-item lines="none">
              <ion-radio value="0" slot="start" >Celibataire</ion-radio>
              <ion-radio value="1"  slot="start" >Marié</ion-radio>
            </ion-item>
          </ion-item>
        </ion-radio-group> 
        
      </ion-card-content>
    </form>
  </ion-card>
  <ion-button size="full"  (click)="saveProfile()" [disabled]="!profileForm.valid" >MODIFIER</ion-button>
  
</ion-content>
