ion-button{
    margin: 10px;
}
.profile-image {
  // background-color: yellow;
    position: relative;
    width: 120px;
    margin: auto;
  }
  
  .profile-image > img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    //  background-color: blue;
  }
  
  .profile-image > ion-icon {
    position: absolute;
    // background-color: green;
    bottom: 10px;
    right: 0;
  }
  // .profile-image > ion-button {
  //   --padding: 0px;
  //   position: absolute;
  //   // background-color: green;
  //   bottom: 0px;
  //    right: 9;
  // }
  