<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>PROJET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PROJET</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>

    <ion-list >
      <ion-item>
        <ion-label><h1>"Nom du projet"
          <ion-text>CFA</ion-text>
        </h1></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Budget: "Text" CFA  </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Date de début: "Text"   </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Date de fin: "Text"   </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Description: "Text"   </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-list [inset]="true">
    <ion-text style="padding-left: 4px;">Liste des participant </ion-text>
    <ion-item>
      <ion-label>
        <strong class="verticaMargin">'Name'</strong><br>
      <ion-text class="verticaMargin">'Amount'</ion-text><br>
      <ion-text class="verticaMargin">'Objet'</ion-text>
    </ion-label>
    </ion-item>
  </ion-list>  
</ion-content>
